doctype html
html(lang='en')
  head
    title Admiral
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    link(href='/stylesheets/home1.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(src="/javascripts/ng-infinite-scroll.min.js")

  body
    main
      #titleBar
        a(href='http://localhost:3000/')
          img#logo(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-glossy-green-orbs-icons-alphanumeric/102924-3d-glossy-green-orb-icon-alphanumeric-letter-h.png', alt='Homebound')
        form
          input(type='text', name='search', placeholder='Search..')
        #profile Profile
      #article-list.article-list
      ul#article-list-pagination.article-list__pagination.article-list__pagination--inactive
      
    script(src="/javascripts/home.js")
