doctype html
html(lang='en')
  head
    title Homebound
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    script(src='https://use.fontawesome.com/1099bc21bb.js')
    link(href='/stylesheets/home1.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(type='text/javascript', src='https://cdn.emailjs.com/dist/email.min.js')
    script(type='text/javascript').
      (function(){
      emailjs.init("user_7tCQ5t5nob4ZvvRu3LRde");
      })();


  body
    main
      div(ng-app='myApp', ng-controller='myCtrl')
        #myModal.modal
          .modal-content
            span.closeModal ×
            p#modalParagraph Notify me by email about this pet.
            form(action='https://formspree.io/mzqu98@gmail.com', method='POST')
              input.modalEmail(type='email', name="_replyto", placeholder="Email")
              input#modalHidden(type='hidden', name='pet URL', value='www.google.com')
              
              input.modalButton(type='submit', value = 'Send')
        #myModal2.modal
          .modal-content2
            p#modalParagraph Performing Search...
            img(src='http://www.sunearthtools.com/dp/images/dpLoading.gif', alt='Loading', height='48', width='48')
        .menu
          .menu_title
            | Sort By
          .menu_item
            input#sneaky_toggle.toggle(name='menu_group', type='radio')
            .expander
              label(for='sneaky_toggle')
                i.menu_icon.fa.fa-globe(title='Distance')
          .menu_item
            input#sneaky_toggle2.toggle(name='menu_group', type='radio')
            .expander
              label(for='sneaky_toggle2')
                i.menu_icon.fa.fa-paw(title='Size')
          .menu_item
            input#sneaky_toggle3.toggle(name='menu_group', type='radio')
            .expander
              label(for='sneaky_toggle3')
                i.menu_icon.fa.fa-usd(title='Price')
        .dropdown
          .item.collapse
            img.infoImg(src='https://cdn4.iconfinder.com/data/icons/online-menu/64/attencion_exclamation_mark_circle_danger-128.png', align='left')
            | Urgent: This pet will be put down soon.
          //- .item.collapse
          //-   img.infoImg(src='http://i.imgur.com/3OChXd7.png', align='left')
          //-   | Empty Heart: You have not liked this pet.
          //- .item.collapse
          //-   img.infoImg(src='http://i.imgur.com/OS3krRq.png', align='left')
          //-   | Full Heart: You have liked this pet.
          .item.collapse
            img.infoImg(src='https://cdn0.iconfinder.com/data/icons/layout-and-location/24/Untitled-2-02-128.png', align='left')
            | Shelter: This pet is from a shelter.
          .item.collapse
            img.infoImg(src='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png', align='left')
            | Person: This pet is from an owner.
          .item.collapse What are the icons?
        input#navcheck(type='checkbox', role='button', title='menu')
        label(for='navcheck', aria-hidden='true', title='menu')
          span.burger
            span.bar
              span.visuallyhidden Menu
        nav#menu
          a(href='/') Home screen
          a(href='/home') Fosterable pets
          a.typeform-share.button(href='https://gillian44.typeform.com/to/mfvXgi', data-mode='2', target='_blank') Take the survey
          script.
            (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

          a(href='/signup') Sign pet(s) up for fostering
        #titleBar
          form.searchForm.searchform
            input.search(type='text', ng-model="query")
            .after
            input.hiddenSubmit(type='submit')
          #profile Homeward
        //- #navbar
        //-   .navitem.navitem1 Pet Stream
        //-   .navitem.navitem2 Your Liked Pets
        //-   .navitem.navitem1 Adoption Process
        //-   .navitem.navitem2 Take the Quiz
        //-   .navitem.navitem1 Settings
        p#streamTitle Fosterable Pets
        #feedHolder
          #article-list.article-list
        ul#article-list-pagination.article-list__pagination.article-list__pagination--inactive
      
    script(src="/javascripts/home.js")
