doctype html
html(lang='en')
  head
    title Admiral
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    link(href='/stylesheets/home1.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(src="/javascripts/ng-infinite-scroll.min.js")

  body
    main
      div(ng-app='myApp', ng-controller='myCtrl')
        input#navcheck(type='checkbox', role='button', title='menu')
        label(for='navcheck', aria-hidden='true', title='menu')
          span.burger
            span.bar
              span.visuallyhidden Menu
        nav#menu
          a(href='http://localhost:3000') Home Screen
          button(onclick='clearList()')  Clear List
          button(onclick='repopulateList()')  Repopulate
          a(href='#') Pet Stream
          a(href='#') My Liked Pets
          a(href='#') Take the Survey
          a(href='#') My Profile
          a(href='#') Logout
        #titleBar
          form
            input.search(type='text', ng-model="query")
            .after
            input(type='submit')
          #profile Profile
        //- #navbar
        //-   .navitem.navitem1 Pet Stream
        //-   .navitem.navitem2 Your Liked Pets
        //-   .navitem.navitem1 Adoption Process
        //-   .navitem.navitem2 Take the Quiz
        //-   .navitem.navitem1 Settings
        p#query Current Query: {{query}}
        #feedHolder
          #article-list.article-list
        ul#article-list-pagination.article-list__pagination.article-list__pagination--inactive
      
    script(src="/javascripts/home.js")
