doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title Admiral
    // stylesheets
    link(rel='shortcut icon', type='image/x-icon', href='media/favicon.png')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/stylesheets/index.css", type="text/css", media="screen")
    // fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oleo+Script")

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    // script src="javascripts/main.js"></script
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700,900|Josefin+Sans:400,700|Quicksand:400,700", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/stylesheets/home.css", type="text/css", media="screen")
  body#body
    html.
      <video id="my-video" class="video" preload="auto" autoplay="true" loop="loop" muted volume="0">
        <source src="../media/homeBackground.mp4" type="video/mp4">
      </video>
    #background
      #logo
        html.
          <span style="color: rgb(91,192,222);">Home</span>bound
      #content
        #title
          | Bond with a pet in a fostering experience. 
        #buttons
          a(href="/signup")
            button#signup(type="button") I am putting a pet up for fostering
          a#app(href="/home")
            button#login(type="button") I want to foster a pet
    html.
      <script>
        (function() {
          /**
           * Video element
           * @type {HTMLElement}
           */
          var video = document.getElementById("my-video");

          /**
           * Check if video can play, and play it
           */
          video.addEventListener( "canplay", function() {
            video.play();
          });
        })();
      </script>

    script(src="/javascripts/vue.js")
    script(src="/javascripts/util.js")
    script(src="/javascripts/appvue.js")
    script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
