doctype html
html(lang='en')
  head
    title Log in to Admiral
    link(rel='shortcut icon', type='image/x-icon', href='media/favicon.png')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/stylesheets/login.css", type="text/css", media="screen")

  body
    #app
      #background
        #title
          | Log In
        form(name="login_attempt", method="post", action="/login_attempt")
          #forms
            .form-group
              input#username.form-control(v-model="username", type="username", placeholder="Username", name="username")
            .form-group
              input#password.form-control(type="password", placeholder="Password", name="password")
          #invalid(v-if='invalid')
            | Invalid username or password

          #buttons
            #login
              button.btn.btn-info.btn-lg.btn-block(type="submit") Login
            #cancel
              a(href="/")
                button.btn.btn-danger.btn-lg.btn-block(type="button") Cancel

    script(src="/javascripts/vue.js")
    script(src="/javascripts/gatevue.js")
