doctype html
html(lang='en')
  head
    title Put a pet up for fostering
    link(rel='shortcut icon', type='image/x-icon', href='media/favicon.png')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/stylesheets/signup.css", type="text/css", media="screen")

  body
    #app
      #nav
        a(href='/') Homeward
      #background
        #title
          | Sign A Pet Up
        //- #userSelector
        //-   #selectorcontainer
        //-     button#userbtn.btn.btn-primary(type='button' @click='userType = "user"' v-bind:class="{'active': userType=='user' }") User
        //-     button#sitebtn.btn.btn-primary(type='button' @click='userType = "site"' v-bind:class="{'active': userType=='site' }") Site Admin
        //-     button#adbtn.btn.btn-primary(type='button' @click='userType = "advertiser"' v-bind:class="{'active': userType=='advertiser' }") Advertiser
        form(name="user_signup", method="post", action="/user_signup")
          #forms
            .form-group
              label(for="age", style="color: white;") Upload CSV (  
              a(href='http://www.filedropper.com/template_6', style="color: white;") Get Template)
              input.form-control(type='file', name="user_file")
            .form-group
              label(for="shelter", style="color: white;") Shelter (If you belong to an organization)
              input.form-control(type='text', placeholder="None" name="user_shelter")
            .form-group
              label(for="phone", style="color: white;") Contact Phone
              input.form-control(type='tel', name="user_phone")
          #buttons
            #user.signup
              button.btn.btn-info.btn-lg.btn-block(type="submit") Sign Up
            #user.cancel
              a(href="/")
                button.btn.btn-danger.btn-lg.btn-block(type="button") Cancel
    //- form(v-if='userType == "site"', name="site_signup", method="post", action="/site_signup")
        //-   #forms
        //-     .form-group
        //-       label(for="username", style="color: white;") Email (This will be your username)
        //-       input.form-control(type='text', placeholder="Email", name="site_email")
        //-     .form-group
        //-       label(for="password", style="color: white;") Password
        //-       input.form-control(type='password', name="site_pass")
        //-     .form-group
        //-       label(for="text", style="color: white;") Site Address
        //-       input.form-control(type='text', placeholder="Site Address", name="site_address")
        //-     .form-group
        //-       label(for="text", style="color: white;") Billing Code
        //-       input.form-control(type='text', placeholder="Billing Code", name="site_billing")
        //-   #buttons
        //-     #site.signup
        //-       button.btn.btn-info.btn-lg.btn-block(type="submit") Sign Up
        //-     #site.cancel
        //-       a(href="/")
        //-         button.btn.btn-danger.btn-lg.btn-block(type="button") Cancel
        //- form(v-if='userType == "advertiser"', name="ad_signup", method="post", action="/ad_signup")
        //-   #forms
        //-     .form-group
        //-       label(for="username", style="color: white;") Email (This will be your username)
        //-       input.form-control(type='text', placeholder="Email", name="ad_email")
        //-     .form-group
        //-       label(for="password", style="color: white;") Password
        //-       input.form-control(type='password', name="ad_pass")
        //-     .form-group
        //-       label(for="text", style="color: white;") Billing Code
        //-       input.form-control(type='text', placeholder="Billing Code", name="ad_billing")
        //-   #buttons
        //-     #ad.signup
        //-       button.btn.btn-info.btn-lg.btn-block(type="submit") Sign Up
        //-     #ad.cancel
        //-       a(href="/")
        //-         button.btn.btn-danger.btn-lg.btn-block(type="button") Cancel


    script(src="/javascripts/vue.js")
    script(src="/javascripts/gatevue.js")
