/* Overrides certain bootstrap styles to make the home look better ish */

a button {
  border-radius: 0;
  border: none;
  margin-bottom: 12px;
  padding: 12px;
  min-width: 20vw;
  letter-spacing: 2px;
  font-size: 1.5em;
}

button#login {
  background: 0;
  color: #fff;
  border: 2px #fff solid;
} button#login:hover {
  background: #fff;
  color: #3B4C4F;
}

button#signup {
  background-color: #92C9E8;
  color: #fff;
} button#signup:hover {
  background-color: #75A1BA;
}
