body {
  color: #333;
  counter-reset: page;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

#logo {
  float: left;
  width:50px;
  height:50px;
  margin-left:50px;
  border:0;
}

#titleBar{
   display: flex;
   align-items: center;
   position:fixed;
   float: left;
   font-size: 1em;
   color: white;
   top:0;
   left:0;
   width:100%;
   height:60px;
   z-index: 30;
   background-color: #624CAB;
}

#navbar {
  border: 1px solid black;
   position:fixed;
   float: left;
   top: 60px;
   left:10px;
   width: 30%;
   height: 80%;
   z-index: 29;
}

.navitem {
  padding: 5px;
  color: black;
  max-width: 100%;
  height: 50px;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.navitem1 {
  background-color:rgb(229, 229, 229);
}

.navitem2 {
  background-color: white;
}

#profile{
  border: 1px solid white;
  position: fixed;
  padding: 5px;
  right: 5%;
  font-size: 1em;
}

/*input[type=text] {
    margin-left: 10em;
    float: left;
    width: 130px;
    max-width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: white;
    background-image: url('https://cdn.coltortiboutique.com/skin/frontend/default/coltorti_theme/images/search.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}*/

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  color: #28f;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0062d5;
}
a:active {
  color: #003f88;
}

#streamTitle {
  padding-top: 1.5em;
  font-size: 2em;
  text-align: center;
  color: black;
}

#feedHolder {
  max-width: 50em;
  margin: 0 auto;
  padding-top: 1em;
}

main {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.article-list__page {
  border-top: 1px solid #ddd;
  clear: both;
  counter-increment: page;
  padding-bottom: 3em;
  position: relative;
}
.article-list__page:before {
  background-color: #ddd;
  display: inline-block;
  content: counter(page);
  color: #888;
  padding: .25em .5em;
  position: absolute;
  left: calc(50% - .75em);
  top: -.75em;
  vertical-align: middle;
  z-index: 1;
}

.imageholder {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.notification {
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.imageholder .like {
  outline: none;
  border: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px; /*your button position*/
  right: 10px; /*your button position*/
  background:url('http://i.imgur.com/xLcEPfO.png');
  background-size: contain;
}

.imageholder .like:active {
  transform: scale(0.9, 0.9);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalEmail {
  max-width 1000px;
  float:left;
  font-size: 2em;
  outline: none;
}

.modalButton {
  outline: none;
  float:left;
  margin-left: 20px;
  width: 100px;
  height: 43px;
  border-radius: 0px;
  background-color: #758ECD;
  color: white;
  border: 0px;
}

.modalButton:hover {
  background-color: #6075A8;
}

/* Modal Content/Box */
.modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 20%;
    width: 40%; /* Could be more or less, depending on screen size */
}

.modal-content2 {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    height: 6%;
    width: 10%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imageholder .like:hover {
  background:url('http://i.imgur.com/Ufyu9x2.png');
  background-size: contain;
}

.petBasicInfo {
  display: flex;
  align-items: center;
}

.article-list__item {
  color: black;
  background-color: #eee;
  float: left;
  height: 25em;
  max-width: 100%;
  opacity: .75;
  transform: scale(0.9);
  transition: opacity 0.2s, transform 0.2s;
  width: 25em;
  overflow: hidden;
}
.article-list__item:hover {
  opacity: 1;
  transform: scale(1);
}

.article-list__item__image {
  display: block;
  height: auto;
  margin: 0;
  opacity: 1;
  transition: opacity 0.2s;
  width: 100%;
}

.article-list__item__image--loading {
  opacity: 0;
}

.article-list__pagination {
  background-color: #222;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: block;
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: .5em;
  position: fixed;
  right: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.2s;
  z-index: 2;
}

.article-list__pagination--inactive {
  transform: translateY(100%);
}

.article-list__pagination__item {
  display: inline-block;
  margin: 0 1em;
}
.article-list__pagination__item a {
  color: #888;
  text-decoration: none;
}
.article-list__pagination__item a:hover, .article-list__pagination__item a:focus {
  color: #aeaeae;
}
.article-list__pagination__item a:active {
  color: #d5d5d5;
}

.petName {
  color: rgb(120, 120, 120);
  font-size: 2.5em;
  max-width: 80%;
  padding-left: 10px;
}

.petDetails {
  color: rgb(40, 40, 40);
  font-size: 1em;
  padding-left: 10px;
  width: 100%;
}

.tagDetails {
  color: rgb(40, 40, 40);
  font-size: 1em;
  margin-left: 10px;
  padding: 1px;
  width: auto;
  border: 1px solid black;
  background-color: rgb(200, 200, 200);
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
label::before {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(193, 206, 254, 0.6);
  content: '';
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
  position: fixed;
  top: 0.75em;
  left: 1em;
  z-index: 31;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before,
label .burger .bar, label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: white;
  content: '';
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
  top: 44%;
}
label .burger::before {
  top: 0;
  transform-origin: top left;
}
label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger {
  opacity: .75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #758ECD;
  content: '';
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}
nav a {
  margin: .5em 0;
  padding: .2em 2em;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transform: translateX(-100%);
  transition: color .15s, transform .5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
  color: black;
}

main {
  overflow: hidden;
}
main .content {
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  will-change: transform, filter;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#navcheck {
  position: fixed;
  opacity: 0;
}

[id="navcheck"]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
  width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
  transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
  transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
  transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
  transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
  transform: translateX(3em);
  transform-origin: left center;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  /* quite laggy :S */
}

/* helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* misc */
body {
  overflow-x: hidden;
  color: white;
  font: 1em/1.4 "lato";
}
@media (min-width: 60em) {
  article {
    width: 50%;
  }
}

h1 {
  font: 2.5em/1.4 "roboto condensed";
  font-weight: 700;
}

@keyframes alert {
  0%{
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
form {
  transition: all 0.15s;
}
form.explode {
  transform: scale(1.4);
  opacity: 0;
}
.searchForm {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}
.hiddenSubmit{
  display: none !important;
}
.search {
  width: 100%;
}
.search {
  background: none;
  border: 3px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 5px 15px 7px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.search:focus {
  outline: none;
}
.after {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 1;
}
form.open .after {
 cursor: pointer;
}
.after:before,
.after:after {
  content: '';
  width: 13px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transform-origin: 100% 100%;
}
.after:after{
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}
.after:before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}
form,
form .after,
form .after:before,
form .after:after {
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}
form.in {
  animation-name: expand;
}
form.in .after:before {
  animation-name: beforemagic;
}
form.in .after:after {
  animation-name: aftermagic;
}

form.close,
form.close .after,
form.close .after:before,
form.close .after:after {
  animation-direction: reverse;
}
form.close {
  animation-name: expand;
}
form.close .after:before {
  animation-name: beforemagic;
}
form.close .after:after {
  animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
form.open {
  width: 250px;
  color: #fff;
}
form.open .after {
  z-index: 3;
}
form.open .after:before {
  width: 20px;
  top: 9px;
  right: 13px;
  opacity: 1;
}
form.open .after:after {
  width: 20px;
  bottom: 10px;
  right: 15px;
}

.infoImg {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-size: contain;
}

@keyframes aftermagic {
  0%   {}
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
  15%{
    opacity: 1;
  }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
     opacity: 0;

  }
  25% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px;
  }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px;
  }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
}
@keyframes beforemagic {
  0%   {}
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px;
  }
  65% {
    width: 30px;
    top: 6px;
    right: 10px;
  }
  80% {
    width: 20px;
    top: 9px;
    right: 13px;
  }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1;
  }
}
@keyframes expand {
    0%   {
      color: transparent;
    }
  20% {
    width: 36px;
  }
  45% {
    width: 250px;
  }
  99% {
    color: transparent;
  }
    100% {
      width: 250px;
      color: #fff;
    }
}

.dropdown {
  width: 330px;
  height: 50px;
  position: fixed;
  right: 0;
  top: 5em;
  color: black;
  perspective: 1000px;
  z-index: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown2 {
  width: 330px;
  height: 50px;
  position: fixed;
  left: 0;
  top: 5em;
  color: black;
  perspective: 1000px;
  z-index: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropped {
  height: 200px;
}

.item, .item2 {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0;
  padding: 0 20px;
  background-color: white;
  transition: transform .15s linear;
  cursor: pointer;
  user-select: none;
}
.item:last-child {
  transform: translate3d(0, -150px, 0);
}
.item:not(:last-child) {
  transform: translate3d(0, 50px, 0);
}
.item:hover:not(:last-child) {
  background-color: #fafafa;
}

.collapse:nth-of-type(1) {
  transform: translate3d(0, 0px, 0) scale(1.025);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(2) {
  transform: translate3d(0, -56px, 0) scale(1.05);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(3) {
  transform: translate3d(0, -112px, 0) scale(1.075);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:nth-of-type(4) {
  transform: translate3d(0, -168px, 0) scale(1.1);
}
.collapse:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse:hover:last-child {
  transform-origin: 50% 100%;
  transform: translate3d(0, -174px, 0) rotateX(30deg) scale(1.1);
}

.collapse2:nth-of-type(1) {
  transform: translate3d(0, 0px, 0) scale(1.025);
}
.collapse2:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse2:nth-of-type(2) {
  transform: translate3d(0, -56px, 0) scale(1.05);
}
.collapse2:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse2:nth-of-type(3) {
  transform: translate3d(0, -112px, 0) scale(1.075);
}
.collapse2:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse2:nth-of-type(4) {
  transform: translate3d(0, -168px, 0) scale(1.1);
}
.collapse2:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.collapse2:hover:last-child {
  transform-origin: 50% 100%;
  transform: translate3d(0, -174px, 0) rotateX(30deg) scale(1.1);
}

.menu {
  font-family: arial;
  background: #333;
  display: flex;
  position: fixed;
  top: 4.3em;
  left: 0.5em;
  z-index: 4;
  margin: 0 0.75rem;
}
.menu:before, .menu:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.75rem;
  background: #333;
}
.menu:before {
  left: -0.75rem;
  border-radius: 0.75rem 0 0 0.75rem;
}
.menu:after {
  right: -0.75rem;
  border-radius: 0 0.75rem 0.75rem 0;
}

.menu_item {
  display: flex;
  float: left;
  white-space: nowrap;
  color: #ccc;
  font-size: 1.5rem;
}
.menu_item:last-child {
  margin-right: 0;
}
.menu_item .toggle {
  display: none;
}
.menu_item .toggle:checked ~ .expander {
  max-width: 1rem;
}
.menu_item .toggle:checked ~ .expander .menu_icon {
  color: #ABDC38;
  animation: none;
}
.menu_item .toggle:checked ~ .expander .menu_text {
  color: #fff;
}
.menu_item .expander {
  max-width: 2rem;
  overflow: hidden;
  transition: all ease-in-out 233ms;
  padding: 1.5rem;
  padding-right: 1.5rem;
}
.menu_item .expander:hover .menu_icon {
  color: #fff;
  animation: jiggle ease-in-out 400ms infinite;
}
.menu_item label {
  line-height: 3rem;
}
.menu_item .menu_icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 1rem;
  width: 3rem;
  text-align: center;
  transition: color ease-in-out 80ms;
}
.menu_item .menu_text {
  line-height: 2rem;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  transition: color ease-out 333ms;
}

.menu_title {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  float: left;
  line-height: 1rem;
  padding: 1.5rem;
}

@keyframes jiggle {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: none;
  }
}
