

div#background {
  background-size: 100%;
  background-color: rgba(30, 30, 30, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}


.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div#logo {
  font-family: 'Oleo Script', cursive;
  color: white;
  font-size: 120px;

  position: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  padding-top: 14vh;

  width: 100%;
  height: 50%;
}

div#content {
  width: 100%;
  height: 50%;
  padding-top: 5vh;
}

div#title{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: table;
  font-size: 40px;
  font-weight: 100;
}

div#buttons {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2vh;
  width: 20vw;
}

a:hover { 
  text-decoration: none;
}

button {
  margin-top: 1vh;
  text-decoration: none;
}

.btn:focus,.btn:active {
   outline: none !important;
}