#container{
  	display: flex;
  	align-items: center;
  	justify-content: center;
	color: black;
	margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 850px;
    padding-left:30px;
	padding-right:30px;
	padding-top: 50px;
	margin-bottom: 30px;
}

#container .image-container {
	display: block;
	top:-10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 500px;
	max-height: 500px;
	overflow:hidden;
	padding-bottom:100px;
}

.animalName{
	font-family: 'Roboto Condensed';
	font-size:75px;
	position:absolute;
	top:90px;
	color:black;
}

.p1{
	font-size:0.9em;
	position: absolute;
	top: 4em;
	right: 1em;
	color: black;
}

.p2{
	font-size:0.9em;
	position: absolute;
	bottom: -5em;
	right: 1em;
	color: black;
}

.p3{
	font-size:0.9em;
	position: absolute;
	bottom: 0em;
	left: 1em;
	color: black;
}

.p4{
	font-size:0.9em;
	position: absolute;
	top: 4em;
	left: 1em;
	color: black;
}

.p5{
	font-size:0.9em;
	position: absolute;
	bottom: -5em;
	color: black;
  	align-items: center;
  	left:360px;
  	max-width: 50%;
  	max-height:30%;
  	padding-top:30px;
}

.p6{
	font-size:0.9em;
	position: absolute;
	color: black;

	bottom: -13em;
	left: 1em;
  	max-width: 50%;
  	max-height:30%;
}

.formFormat{
	font-size:12px;
	color: black;
	positon: absolute;
	left:40px;
	right: 60px;
	bottom: 10px;
	text-align: justify;
    min-width: 500px;

	display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    margin-left: 2%;
    width: 32%;
}


#logo {
  float: left;
  width:50px;
  height:50px;
  margin-left:50px;
  border:0;
}

#titleBar{
   display: flex;
   align-items: center;
   position:fixed;
   float: left;
   font-size: 1em;
   color: white;
   top:0;
   left:0;
   width:100%;
   height:60px;
   z-index: 30;
   background-color:black;
}

#navbar {
  border: 1px solid black;
   position:fixed;
   float: left;
   top: 60px;
   left:10px;
   width: 30%;
   height: 80%;
   z-index: 29;
}

.navitem {
  padding: 5px;
  color: black;
  max-width: 100%;
  height: 50px;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.navitem1 {
  background-color:rgb(229, 229, 229);
}

.navitem2 {
  background-color: white;
}

#profile{
  border: 1px solid white;
  position: fixed;
  padding: 5px;
  right: 5%;
  font-size: 1em;
}


h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #d62956;
  content: '';
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}

main {
  overflow: hidden;
}
main .content {
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  will-change: transform, filter;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#navcheck {
  position: fixed;
  opacity: 0;
}

[id="navcheck"]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
  width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
  transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
  transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
  transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
  transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
  transform: translateX(3em);
  transform-origin: left center;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  /* quite laggy :S */
}
/*
----------------------------------------------------------------------------------------
*/
$primary-col: #03A9F4;
$accent-col: #FFC400;
$accent-fallback: #FFD740;

$font-stack: 'Roboto', sans-serif;
$easer: cubic-bezier(0.4, 0, 0.2, 1);

body {
  font-family: $font-stack;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #FFF;
  background: $body-bg;
}

h1{
  font-weight: 700;
  font-size: 64px;
  margin: 20px 0 0 0;
  padding: 0 20px;
}

a {
  color: #28f;
  text-decoration: none;
  padding-right: 10px;
  cursor: pointer;
    font-style: normal;
}
a:hover, a:focus {
  color: #0062d5;
}
a:active {
  color: #003f88;
}

p{
  font-size: 16px;
  padding: 0 20px;
}

em{
  font-style: normal;
  color: $accent-col;
}

.sub{
  margin: 0;
}

.button{
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: inline-block;
  font-size: 30px;
  line-height: 60px;

  transition: all 0.7s $easer;
}
.button.expand {
  -webkit-transform: rotate(585deg);
      -ms-transform: rotate(585deg);
          transform: rotate(585deg);

  transition: all 0.5s $easer;
}

.container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 5vh;
  background-color: $primary-col;

  border-radius: 50%;
  width: 60px;
  max-width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;

  transition: all 0.2s 0.45s,
              height 0.2s $easer 0.25s,
              max-width 0.2s $easer 0.35s,
              width 0.2s $easer 0.35s;
}
.container.expand {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.17);
  border-radius: 0;
  width: 80%;
  height: 500px;
  max-width: 700px;
  padding: 0;

  transition: all 0.2s, max-width 0.2s $easer 0.1s, height 0.3s ease 0.25s;
}

.content {
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: left;

  transition: transform 0.2s $easer, opacity 0.2s 0.2s;
}
.content.expand {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.7s $easer 0.05s, opacity 0s;
}

.content .head {
  padding: 0 0 20px 0;
}
.content .body {
  color: #000;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.action-bar {
  padding-left: 15px;
  border-top: 1px solid #E0E0E0;
  width: 100%;
}
.action-bar a {
  text-transform: uppercase;
  line-height: 52px;
  color: $accent-col;
}
