

div#background {
  background-image: url("../media/underwater.png");
  /*background-color: rgb(180, 80, 0);*/
  background-size: 100%;

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

div#title{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: table;
  font-size: 50px;
  font-weight: 100;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

div#forms {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

div#buttons {
  color: white;
  margin-top: 2vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div#invalid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: red;
  display: table;
  font-size: 20px;
  font-weight: 100;
  margin-top: 0.5vh;
  visibility: hidden;
}

#login, #cancel {
  width: 8vw;
  margin-right: 1vw;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

input {
  background-color: rgba(255, 255, 255, 0.8);
} input:focus {
  background-color: #fff;
}

button {
  margin-top: 1vh;
  text-decoration: none;
}

.btn:focus,.btn:active {
   outline: none !important;
}
